.add{
    background-color:lightgreen;
}

.large_font {
    font-size: 2em;
}

.bold {
    font-weight:bold;
}

.blue {
    background-color:rgb(153, 204, 255) !important;
}


.uk-navbar-left > h3:nth-child(1) {
    padding-top: 0.5em;
    padding-left: 0.5em;
}