.hidden {
    display:none;
}

.error {
    color:red;
}

.width_small {
    width:150px !important;
}

.uk-form-horizontal .uk-form-controls {
    margin-left: 0 !important;
}

.not_saved{
    border: 5px solid rgb(255, 153, 153);
}