table thead {
    margin: 0;
    top:0;
    padding: 0;
    width: 100%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
}

div.table-container ul.pagination {
    background-color: white;
    bottom:0;
    position: -webkit-sticky;
    position: sticky;
    list-style-type: none;
}
div.table-container ul.pagination li {
    display:inline;
}

.overflow {
    overflow: scroll;
}

.table-container {
    height: 80vh;
}


.abstract_col {
    white-space: normal;
    display:block;
    width: 450px;
}

.core_attribute_col {
    white-space: normal;
    display: block;
    width: 200px;
}