{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <title> Landmark Database {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit-icons.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static "/css/base.css" %}"/>
        {% block head_block %}{% endblock %}

    </head>

    <body>
        <header>
            <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">
            <li {% block isActiveEnter %}{% endblock %}><a href="/LM_DB/enterData">Enter Data</a></li>
            <li {% block isActiveView %}{% endblock %}><a href="/LM_DB/viewData">View Data</a></li>
        </ul>

    </div>
</nav>
        </header>
        <div class = "content">
            {% block body_block %}{% endblock %}
        </div>

    </body>

</html>
