{% extends 'LM_DB/Base.html' %}
{% load staticfiles %}
{% load lmDBExtras %}
{% block title %}{{ type_of_edit }}{% endblock %}
{% block head_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/addFormToFormsetDynamically.js' %}"></script>
    <script src="{% static 'js/ajaxSaveKeyword.js' %}"></script>
    <script src="{% static 'js/ajaxStuffFromBibtex.js' %}"></script>
    <script src="{% static 'js/addUikitStuffToForms.js' %}"></script>
    <script src="{% static 'js/distinguish_deleted_forms.js' %}"></script>
    <script src="{% static 'js/showAndHideFormStuff.js' %}"></script>
    <script src="{% static 'js/keepFileYearFieldCurrent.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/enterData.css' %}">
{% endblock %}
{% block isActiveEnter %}class="uk-active" {% endblock %}
{% block viewData %}View Data{% endblock %}
{% block enterData %}Enter/Edit data{% endblock %}
{% block heading %}<h2>{{ type_of_edit }}</h2> {% endblock %}
{% block body_block %}
    <form id="lm_data_form" action="/LM_DB/enterData/" enctype="multipart/form-data" method="post" class="uk-form-horizontal uk-margin-small">
        {% csrf_token %}
        <!-- <ul> -->
            <h3>Paper</h3>
            {% if paper_form %}
                {% if uniqueness_errors %}
                    {% for key, value in uniqueness_errors.items %}
                        <div class="error">{{ value }}</div>
                    {% endfor %}
                {% endif %}
                {% for field in paper_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_form.as_p }}
            {% endif %}

            {% if file_form %}
                {{ file_form.as_p }}
            {% endif %}
            <hr class="uk-divider-small">
            {% if author_order_forms %}
                <div class="author_related">
                    <h3>Authors</h3>
                    {{ author_order_forms.management_form }}
                    {% for author_form in author_order_forms %}
                        {% if forloop.last and not errors|lookup:author_order_forms %}<div class="author_form hidden single_form" id="author_form">
                        {% elif forloop.last %}<div class="author_form">
                        {% else %}<div class="author_form">{% endif%}
                            {% for field in author_form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                        {{ author_form.as_p }}
                       </div>
                    {% endfor %}
                    <input type="button" class="uk-button uk-button-secondary" value="+" id="add_author">
                </div>
            {% endif %}

            <hr class="uk-divider-small">


            {% if paper_keywords_form %}
                <h3>Keywords</h3>
                <a class="uk-icon-button" uk-icon="chevron-down" id="toggle_keywords_button" onclick="toggleVisibility(this.id, '.paper_keywords')"></a>
                <div class="paper_keywords uk-form">
                {% for field in paper_keywords_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_keywords_form.as_p }}
                </div>
            {% endif %}

            {% if keyword_form %}
                <h4 id="add_keywords">New keyword</h4>
                {% for field in keyword_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ keyword_form.as_p }}
                <input type="button" id="id_new_keyword_button" class="uk-button uk-button-primary" name="new_keyword" value="add new keyword" onclick="saveNewKeyword()"/>
            {% endif %}
            <hr class="uk-divider-small">

            {% if paper_concept_names_form %}
                <h3>Concept Names</h3>
                <a class="uk-icon-button" uk-icon="chevron-down" id="toggle_concept_names_button" onclick="toggleVisibility(this.id, '.paper_concept_names')"></a>
                <div class="paper_concept_names uk-form">
                {% for field in paper_concept_names_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_concept_names_form.as_p }}
                </div>
            {% endif %}

            {% if concept_name_form %}
                <h4 id="add_concept_name">New concept name</h4>
                {% for field in concept_name_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ concept_name_form.as_p }}
                <input type="button" name="new_concept_name" class="uk-button uk-button-primary" value="add new concept name" onclick="saveNewConceptName()"/>
            {% endif %}

            <hr class="uk-divider-small">
            {% if purpose_forms %}
                <div class="purpose_related">
                    <h3>Purpose</h3>
                    {{ purpose_forms.management_form }}
                    {% for purpose_form in purpose_forms %}
                        {% if forloop.last and not errors|lookup:purpose_forms %}<div class="purpose_form hidden single_form" id="purpose_form">
                        {% elif forloop.last %}<div class="purpose_form">{% endif%}
                            {% for field in purpose_form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                        {{ purpose_form.as_p }}
                       {% if forloop.last %}</div>{% endif%}
                    {% endfor %}
                    <input type="button" class="uk-button uk-button-secondary" value="+" id="add_purpose">
                </div>
            {% endif %}

            <hr class="uk-divider-small">
            {% if core_attribute_forms %}
                <div class="core_attribute_related">
                    <h3>Core attributes</h3>
                    {{ core_attribute_forms.management_form }}
                    {% for core_attribute_form in core_attribute_forms %}
                        {% if forloop.last and not errors|lookup:core_attribute_forms %}<div class="core_attribute_form hidden single_form" id="core_attribute_form">
                        {% elif forloop.last%}<div class="core_attribute_form">{% endif %}
                        {% for field in core_attribute_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {{ core_attribute_form.as_p }}
                         {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
                    <input type="button" class="uk-button uk-button-secondary" value="+" id="add_core_attribute">
                </div>
            {% endif %}
            <hr class="uk-divider-small">
            {% if link_forms %}
                <div class="link_related">
                    <h3>Links</h3>
                    {{ link_forms.management_form }}
                    {% for link_form in link_forms %}
                        {% if forloop.last and not errors|lookup:link_forms %}<div class="link_form hidden single_form" id="link_form">
                        {% elif forloop.last %}<div class="link_form">
                        {% else %}<div class="link_form">{% endif%}
                            {% for field in link_form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                        {{ link_form.as_p }}
                       </div>
                    {% endfor %}
                    <input type="button" class="uk-button uk-button-secondary" value="+" id="add_link">
                </div>
            {% endif %}
            <hr class="uk-divider-small">
            {% if paper_categories_form %}
                <h3>Categories</h3>
                <a class="uk-icon-button" uk-icon="chevron-down" id="toggle_categories_button" onclick="toggleVisibility(this.id, '.paper_categories')"></a>
                <div class="paper_categories">
                {% for field in paper_categories_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_categories_form.as_p }}
                </div>
            {% endif %}

            {% if category_form %}
                <h4 id="add_categories">New Category</h4>
                {% for field in category_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ category_form.as_p }}
                <input type="button" class="uk-button uk-button-primary" name="new_category" value="add new category" onclick="saveNewCategory()"/>
            {% endif %}

        <hr class="uk-divider-icon">
        <input class="button uk-button uk-button-primary" type="submit" name="{{ original_form_name }}_enterData" value="Submit and enter new"/>
        <input class="button uk-button uk-button-primary" type="submit" name="{{ original_form_name }}_viewData" value="Submit and view entries"/>
    </form>


{% endblock %}