{% extends 'LM_DB/Base.html' %}
{% load staticfiles %}
{% load lmDBExtras %}
{% block title %}{{ type_of_edit }}{% endblock %}
{% block head_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/addFormToFormsetDynamically.js' %}"></script>
    <script src="{% static 'js/ajaxSaveKeyword.js' %}"></script>
    <script src="{% static 'js/ajaxStuffFromBibtex.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/enterData.css' %}">
{% endblock %}
{% block isActiveEnter %}class="uk-active" {% endblock %}
{% block body_block %}
    <h1>{{ type_of_edit }}</h1>
    <form id="lm_data_form" action="/LM_DB/enterData/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
            <h2>Paper</h2>
            {% if paper_form %}
                {% for field in paper_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_form.as_ul }}
            {% endif %}

            {% if file_form %}
                {% for field in file_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ file_form.as_ul }}
            {% endif %}

            {% if paper_concept_names_form %}
                <h2>Concept Names</h2>
                <div class="paper_concept_names">
                {% for field in paper_concept_names_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_concept_names_form.as_ul }}
                </div>
            {% endif %}

            {% if concept_name_form %}
                <h3 id="add_concept_name">New concept name</h3>
                {% for field in concept_name_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ concept_name_form.as_ul }}
                <input type="button" name="new_concept_name" value="add new concept name" onclick="saveNewConceptName()"/>
            {% endif %}

            {% if purpose_forms %}
                <h2>Purpose</h2>
                {{ purpose_forms.management_form }}
                {% for purpose_form in purpose_forms %}
                    {% if forloop.last and not errors|lookup:purpose_forms %}<div class="purpose_form hidden single_form">
                    {% elif forloop.last %}<div class="purpose_form">{% endif%}
                        {% for field in purpose_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                    {{ purpose_form.as_ul }}
                   {% if forloop.last %}</div>{% endif%}
                {% endfor %}
                <input type="button" value="Add" id="add_purpose">
            {% endif %}

            {% if core_attribute_forms %}
                <h2>Core attributes</h2>
                {{ core_attribute_forms.management_form }}
                {% for core_attribute_form in core_attribute_forms %}
                    {% if forloop.last and not errors|lookup:core_attribute_forms %}<div class="core_attribute_form hidden single_form">
                    {% elif forloop.last%}<div class="core_attribute_form">{% endif %}
                    {% for field in core_attribute_form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {{ core_attribute_form.as_ul }}
                     {% if forloop.last %}</div>{% endif %}
                {% endfor %}
                <input type="button" value="Add" id="add_core_attribute">
            {% endif %}

            {% if link_forms %}
                <h2>Links</h2>
                {{ link_forms.management_form }}
                {% for link_form in link_forms %}
                    {% if forloop.last and not errors|lookup:link_forms %}<div class="link_form hidden single_form">
                    {% elif forloop.last %}<div class="link_form">{% endif%}
                        {% for field in link_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                    {{ link_form.as_ul }}
                   {% if forloop.last %}</div>{% endif%}
                {% endfor %}
                <input type="button" value="Add" id="add_link">
            {% endif %}

            {% if paper_keywords_form %}
                <h2>Keywords</h2>
                <div class="paper_keywords">
                {% for field in paper_keywords_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_keywords_form.as_ul }}
                </div>
            {% endif %}

            {% if keyword_form %}
                <h3 id="add_keywords">Add keyword</h3>
                {% for field in keyword_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ keyword_form.as_ul }}
                <input type="button" name="new_keyword" value="add new keyword" onclick="saveNewKeyword()"/>
            {% endif %}

             {% if paper_categories_form %}
                <h2>Categories</h2>
                <div class="paper_categories">
                {% for field in paper_categories_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ paper_categories_form.as_ul }}
                </div>
            {% endif %}

            {% if category_form %}
                <h3 id="add_categories">Add Categories</h3>
                {% for field in category_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {{ category_form.as_ul }}
                <input type="button" name="new_category" value="add new category" onclick="saveNewCategory()"/>
            {% endif %}
        </ul>
        <input class="button" type="submit" name="{{ original_form_name }}" value="Submit"/>
    </form>


{% endblock %}