{% extends 'LM_DB/Base.html' %}
{% load staticfiles %}
{% load lmDBExtras %}
{% block title %}View Data{% endblock %}
{% block isActiveView %} class="uk-active" {% endblock %}

<!-- TODO: reformat table with UI-Kit: https://getuikit.com/docs/table -->
{% block body_block %}
    <table>
        <thead>
            <tr>
                {% for heading in included_columns %}
                    <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
                <tr>
                    <td>
                        <form action="/LM_DB/enterData/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="paper_id" value="{{ paper|lookup:"paper_id"}}">
                            <input class="button" type="submit" name="editStart" value="Edit"/>
                            <input class="button" type="submit" name="downloadPaper" value="Download"/>

                        </form>

                    </td>
                    {% for attribute in paper %}
                        {% with paper|lookup:attribute as cell_value  %}
                            <td>{{ cell_value}}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


        <a type="button" href="/LM_DB/enterData/">+</a>

{% endblock %}