{% extends 'LM_DB/Base.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load lmDBExtras %}
{% block title %}View Data{% endblock %}
{% block isActiveView %} class="uk-active" {% endblock %}
{% block viewData %}View Data{% endblock %}
{% block enterData %}Enter/Edit data{% endblock %}
{% block container-size %}.uk-container-expand{% endblock %}
{% block head_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/CSRF.js' %}"></script>
    <script src="{% static 'js/addUiKitStuffToTable.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/viewData.css' %}">
{% endblock %}

<!-- DONE: reformat table with UI-Kit: https://getuikit.com/docs/table -->
{% block body_block %}
    {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <script>
                        UIkit.notification({
                            message: '{{ message }}',
                            status: 'danger',
                            pos: 'bottom-center',
                            timeout: 2500
                        });
                    </script>
                {% elif message.level == 21 %}
                    <script>
                    $( document ).ready(function() {
                        let current_paper_id = {{ message }};
                        let $current_input = $("input[value='"+({{ message }})+"'][name='paper_id'][class='user_interaction']");
                        //scrolls the td element for the actions and the relevant paper into view
                        //this automatically puts the verified and need-for-discussion-info into view, too
                        $current_input.parent().parent().get(0).scrollIntoView(false);
                    });
                    </script>
                {% else %}
                    <script>
                    UIkit.notification({
                        message: '{{ message }}',
                        status: 'primary',
                        pos: 'bottom-center',
                        timeout: 2500
                    });
                    </script>
                {% endif %}
            {% endfor %}
    {% endif %}
    <div class="uk-margin">


            <div class="overflow">
                {% render_table table %}
            </div>

    </div>

        <a type="button" class="uk-button uk-button-primary uk-button-small bold" href="/LM_DB/enterData/">add paper</a>

{% endblock %}